body {
  min-height: 1100px;
  background-color: rgb(0, 0, 0);
}
#profile {
  background: url("https://images.pexels.com/photos/1449775/pexels-photo-1449775.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  opacity: 0.9;
}
.v {
  color: rgb(177, 226, 0);
}
.b {
  color: rgb(255, 0, 0);
}
.c {
  color: rgb(0, 99, 30);
}
.d {
  color: rgb(158, 71, 0);
}
h3 {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.tlp {
  color: rgb(26, 92, 0);
}
.iyehh {
  color: black;
}
.logo {
  color: rgb(255, 255, 255);
}
.nav {
  background-color: black;
  color: rgb(177, 226, 0);
}
